accelerate==0.24.1
clip==0.2.0
einops==0.3.0
future==1.0.0
huggingface-hub==0.36.0
imageio==2.37.0
imgaug==0.4.0
Jinja2==3.1.6
joblib==1.4.2
kornia==0.6.0
lazy_loader==0.4
lit==18.1.8
matplotlib==3.8.0
multidict==6.4.3
ninja==1.11.1.4
numpy
omegaconf==2.3.0
open-clip-torch==2.23.0
opencv-python==4.7.0.72
pandas==2.0.3
Pillow==9.4.0
pytorch-lightning==1.5.0
safetensors==0.5.3
scikit-image==0.22.0
scikit-learn
scipy==1.10.1
tabulate==0.9.0
taming-transformers==0.0.1
tensorboard==2.15.0
timm==0.4.12
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.6.0
torchvision==0.15.2
tqdm==4.67.1
transformers==4.30.2
xformers==0.0.22
deepspeed
test-tube
clean-fid
lpips
swanlab

